#wrainbo-aboutus {
  #wrainbo-aboutus-main {
    @include SetUpBG("../../image/aboutus/bg-aboutus.png");
    text-align: center;

    .aboutUsMainIcon {
        max-width:20em;
        padding-top: 4em;
        @media (max-width:500px) {
          max-width:15em;

        }
    }

    h1 {
      margin: 2em 0em 1.5em 0em;
    }

    a {
      img {
        max-width:7em;
        padding-bottom: 2em;

      }

    }

  }

  #wrainbo-aboutus-detail {
    @include SetUpBG("../../image/aboutus/bg-aboutus-detail.png");
    .row {
      padding-bottom: 1em;
      .wrainbo-aboutus-detail-text {

        margin-top: 10em;
        @media screen and (max-width: 39.9375em) {
          margin-top: 1em;
        }

      }
    }
  }
}
