#wrainbo-intro {
  .gameplay-bg {
    @include SetUpBG("../../image/gameplay/bg_gameplay.png");
  }
  .learning-bg {
    @include SetUpBG("../../image/learning/bg_learning.png");
  }


  #wrainbo-intro-main {
    text-align: center;
    color :white;


    h4 {
      padding-top: 5em;
      margin: 0em 0em 1em 0em;
    }
    h1 {
      @media screen and (max-width: 39.9375em) {
        font-size: 3em;
      }
      @media screen and (min-width: 40em) {
        font-size : 8em;
      }

      margin-bottom : 0.5em;
    }
    p {
      margin: 0 auto;
    }

    .breakline {
      @media screen and (max-width: 39.9375em) {
        max-width: 17em;
      }
    }

    .detail-bt {
      max-width: 6em;

      margin: 0 auto;
      padding: 2em 0em;
      span {
        font-family: 'NorePethMedium';
        position: relative;
        top:-4em;
        color:#f1c40f;
      }
    }
  }

  .gameplay-detail {
    h3 { color : $yellow;
      display: inline;
      padding: 0em 0.5em;
     }
    p { color : $white;
        margin: 0 auto;
        text-align: left;
   }
  }
  .learning-detail {
    h3 {
      color : $dark;
    }
    p { color : black; }
    p,h3 {
      margin: 0em 0em;
    }
  }

#wrainbo-intro-detail {
  text-align: center;


  section {
    padding: 1em 0em;
    .breakline {
      width: 7em;
      display: inline;
    }
    h3 {
      position: relative;
      top: 0.1em;
    }

    p {
      max-width: 25em;

    }
  }

  .gameplayDetailPanel-1 {
    @include SetUpBG("../../image/gameplay/bg-panel-1.png");
  }
  .gameplayDetailPanel-2 {
      @include SetUpBG("../../image/gameplay/bg-panel-2.png");
  }
  .learningDetailPanel-1 {
    @include SetUpBG("../../image/learning/bg-panel-1.png");
    p,h3 {
      margin-left: 5%;
      text-align: left;
    }
  }
  .learningDetailPanel-2 {
      @include SetUpBG("../../image/learning/bg-panel-2.png");
      p,h3 {
        margin-left: 5%;
        text-align: left;
      }

  }
  .learningDetailPanel-3 {
      @include SetUpBG("../../image/learning/bg-panel-3.png");
      p,h3 {
        margin-left: 5%;
        text-align: left;
      }
  }

}

}
