
@mixin SetUpButton($color, $hover) {
  display: inline-block;
  border: 2px solid $color;
  border-radius: 5px;
  padding: 1em 2em;
  color : $color;
  background: transparent;
   &:hover {
     background: $hover;
     color : $color;
   }
}

.wrainbo_button {
  display: inline-block;
  border: 2px solid #f1c40f;
  border-radius: 5px;
  padding: 1em 2em;
  color : #f1c40f;
  background: transparent;
  font-family: 'NorePethDemiBold';

   &:hover {
     background: #f1c40f;
     color : #34495e;
   }
}


#wrainbo-home {


  #wrainbo-home-headboard {
    @include SetUpBG("../../image/bg/bg_front.png");
    text-align: left;
    color : black;

    section  {
      position: relative;
      top:2em;
      left:3em;

      img {
        max-width: 22em;
        margin : 7em 0 6em -1em;
        @media (max-width:500px) {
          max-width: 20em;
        }
      }

      div {
        a {
          @extend .wrainbo_button;
          margin: 5em 0em;
          color : black;
          border: 2px solid black;

           &:hover {
             background: transparent;
             color : $white;
           }
           @media (max-width:500px) {
             margin: 5em 0 5em 6em;
           }
        }
        h1 {
        }
        h5 {
          font-family: 'NorePethMedium';
        }
      }
    }
  }

  #wrainbo-home-productIntro {
    @include SetUpBG("../../image/bg/bg-product-intro.png");
    text-align: center;

    .intro_text {

      max-width: 50em;
      margin: 0 auto;
      padding-bottom:1em;

      .spotlight{
        font-weight: bold;
      }
    }
    h1 {
      padding-top: 1.5em;
    }
  }

  #wrainbo-home-introPortal {
    text-align: center;
    .row {
      margin: 0em 0em;
      max-width: 100%;
      .introPortal-learning {
        @include SetUpBG("../../image/bg/bg-gameplay-intro.png");


      }
      .introPortal-gameplay {
        @include SetUpBG("../../image/bg/bg-learning-intro.png");

      }

      a {
        @include SetUpButton(black, $white );
        margin-bottom: 3em;
      }
      p {
        padding : 3em 0em 8em 0em;
      }

      h3 {
        padding-top: 5em;
        font-family: 'NorePethMedium';
      }
    }

  }

  #wrainbo-home-contactus {
    @include SetUpBG("../../image/bg/bg_bottom.png");
    text-align: center;
    color :white;


    img {
      margin : 7em 0em 7em -1.5em;
      max-width: 20em;
    }
    form {
      max-width: 70%;
      margin: 0 auto;

      input[type="submit"] {
        @extend .wrainbo_button;
        margin: 1em 0em;

      }
    }

  }


}
