//Utility
@import './components/_utility';

h1 { font-family: 'NorePethDemiBold'; }
h3,h4 { font-family: 'NorePethMedium'; }
p {  font-family: 'NorePethBook'; }

//Page
@import '_home';
@import '_gameplay';
@import '_aboutus';

//Layout
@import '_header';
@import '_footer';

//General
#app{
}
.breakline {
  margin: 1em 0em;
}
