//Function
@mixin SetUpBG($bg_path) {
  background: url($bg_path) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//Color
$yellow: #f1c40f;
$blue : #3498db;
$dark_blue : #34495e;
$purple : #9b59b6;
$orange : #e67e22;
$red : #e74c3c;
$white : #ecf0f1;
$dark : #2c3e50;
$titlebar_color : #342d12;

//Bold title / button
@font-face {
    font-family: NorePethDemiBold;
    src: url('./font/The Northern Block - Norpeth DemiBold.eot');
}

//semi title / menubar
@font-face {
    font-family: NorePethMedium;
    src: url('./font/The Northern Block - Norpeth Medium.eot');
}

//Text
@font-face {
    font-family: NorePethBook;
    src: url('./font/The Northern Block - Norpeth Book.eot');
}
